<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>maxwell.casa</title>
    <link rel="icon" href="{{ url_for('static', filename='img/sheep.ico') }}">
    <!-- meta -->
    <meta name="description" content="all the latest family llama drama">
    <meta name="author" content="rpmaxwell">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/_base.css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>