{% extends "_base.html" %}
{% block content %}
<link href="../static/css/account.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript">
	$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
{% if session['logged_in'] %}
	<p>You're logged in already!</p>
{% else %}
{% from "_formhelpers.html" import render_field %}
<h1>howdy!</h1>

<div class="login-page">
  <div class="form">
    <form action="/register" method="POST" class="register-form">
    	{{ form.csrf_token }}
	    	{{ render_field(form.username)}}
	    	{{ render_field(form.email) }}
	    	{{ render_field(form.password) }}
	    	{{ render_field(form.confirm) }}
	    	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  		<button>login</button>
	</form>
  </div>
  	<p class="message">Already registered? <a href="{{ url_for('login') }}">Sign In</a></p>
</div>
{% endif %}
{% endblock %}